.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 var(--space-lg);
}

@media (min-width: 640px) {
  .container {
    padding: 0 var(--space-2xl);
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 var(--space-3xl);
  }
}
